.list-group-item {
  margin: 10px 5px;
  background-color: #f1fffd;
  font-size: 15px;
}

h1 {
  font-size: 30px;
  color: #f1fffd;
}

.btn {
  margin: 10px 5px;
  font-size: 20px;
}

#des {
  font-size: 20px;
  color: #f1fffd;
}
